<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Résidence du Rendez-Vous de Chasse</title>
    <link rel="stylesheet" href="/stylesheets/2014-05-16.css">
  </head>

  <body>
    <div class="content">
      <p class="title">Résidence du Rendez-Vous de Chasse</p>
      <h1>{{ page.title }}</h1>

      <section>
      {{ content }}
      </section>
    </div>

    <div class="table-of-contents">
      <h1>Sommaire</h1>
      <ul>
        <li><a href="/situation/">Situation</a></li>
        <li><a href="/residence/">Notre Résidence</a></li>
        <li><a href="/gestion/">Gestion</a></li>
        <li><a href="/travaux/">Travaux</a></li>
        <li><a href="/conseil-syndical/">Réunions Conseil Syndical</a></li>
        <li><a href="/formulaires/">Formulaires</a></li>
        <li><a href="/vie/">La Vie de la Résidence</a></li>
        <li><a href="/residents/">La Page des Résidents</a></li>
      </ul>
      <p><a href="/about/">À propos du site...</a></p>
    </div>
  </body>
</html>
