<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Résidence du Rendez-Vous de Chasse</title>
    <link rel="stylesheet" href="stylesheets/2014-05-16.css">
  </head>

  <body>
    <div class="content">
      <p class="title">Résidence du Rendez-Vous de Chasse</p>

      {{ page.content }}
    </div>

    <div class="table-of-contents">
      <h1>Sommaire</h1>
      <ul>
        <li><a href="#">Situation</a></li>
        <li><a href="#">Notre Résidence</a></li>
        <li><a href="#">Gestion</a></li>
        <li><a href="#">Travaux</a></li>
        <li><a href="#">Réunions Conseil Syndical</a></li>
        <li><a href="#">Formulaires</a></li>
        <li><a href="#">La Vie de la Résidence</a></li>
        <li><a href="#">La Page des Résidents</a></li>
      </ul>
      <p><a href="about.html">À propos du site...</a></p>
    </div>
  </body>
</html>
